@font-face {
  font-family: "Wisdom Script AI";
  scr: url("../fonts/wisdom-script-ai.woff2") format("woff2"),
    url("../fonts/wisdom-script-ai.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}
