.services-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.services-content__item {
  position: relative;
  -ms-flex-preferred-size: 382px;
  flex-basis: 382px;
  margin-bottom: 96px;
  padding-left: 90px;
  animation: service-animate 3s ease-in 0.1s reverse both;
}

@-webkit-keyframes service-animate {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  100% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }
}

@keyframes service-animate {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  100% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }
}

.services-content__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.services-content__icon::before {
  position: absolute;
  top: 0;
  left: 30px;
  content: "";
  width: 32px;
}

.sevices-content__icon--photography::before {
  height: 31px;
  background-image: url(../../img/service-icons/service-photography.svg);
}

.sevices-content__icon--web::before {
  height: 32px;
  background-image: url(../../img/service-icons/service-web.svg);
}

.sevices-content__icon--creative::before {
  height: 28px;
  background-image: url(../../img/service-icons/service-creative.svg);
}

.sevices-content__icon--seo::before {
  height: 32px;
  background-image: url(../../img/service-icons/service-seo.svg);
}

.sevices-content__icon--css-html::before {
  height: 31px;
  background-image: url(../../img/service-icons/service-css-html.svg);
}

.sevices-content__icon--digital::before {
  height: 32px;
  background-image: url(../../img/service-icons/service-digital.svg);
}

.services-content__title {
  margin-bottom: 15px;
}

.services-content__description {
  margin: 0;
  padding: 0;
}