html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  /* outline: 1px solid teal; */
}

body {
  font-family: "Roboto", sans-serif;
  color: rgb(153, 153, 153);
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.section-pretitle {
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
  font-family: "Kaushan Script", cursive;
  color: rgb(51, 51, 51);
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  text-align: center;
}

.section-title {
  margin: 0;
  margin-bottom: 46px;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: rgb(51, 51, 51);
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.shape::after {
  display: block;
  content: "";
  margin: 40px auto 0;
  width: 60px;
  height: 3px;
  background-color: rgb(243, 129, 129);
}

.list-item-title {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: rgb(51, 51, 51);
  text-transform: uppercase;
}

/* -----HEADER STYLE----- */

.header {
  padding-top: 25px;
  padding-bottom: 126px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.logo-link {
  display: block;
  font-family: "Montserrat", sans-serif;
  color: rgb(149, 225, 211);
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
}

.menu-list {
  display: flex;
  justify-content: space-between;
  min-width: 490px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-list-item {
  display: flex;
}

.menu-list-link {
  display: block;
  font-family: "Montserrat", sans-serif;
  color: rgb(149, 225, 211);
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.menu-list-link:hover,
.menu-list-link:focus {
  color: rgb(243, 129, 129);
}

.menu-list-link:hover::after,
.menu-list-link:focus::after {
  display: block;
  content: "";
  margin: 10px auto 0;
  width: 50px;
  height: 3px;
  background-color: rgb(243, 129, 129);
}

.active {
  color: rgb(243, 129, 129);
}

.active::after {
  display: block;
  content: "";
  margin: 10px auto 0;
  width: 50px;
  height: 3px;
  background-color: rgb(243, 129, 129);
}

/* -----SERVICES SECTION STYLE----- */

.services-content-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-content-list-item {
  position: relative;
  flex-basis: 382px;
  padding-left: 90px;
}

.services-content-list-item::before {
  position: absolute;
  top: 0;
  left: 30px;
  content: "";
  width: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.icon-service-photography::before {
  height: 31px;
  background-image: url(../img/service-icons/service-photography.png);
}

.icon-service-web::before {
  height: 32px;
  background-image: url(../img/service-icons/service-web.png);
}

.icon-service-creative::before {
  height: 28px;
  background-image: url(../img/service-icons/service-creative.png);
}

.icon-service-seo::before {
  height: 32px;
  background-image: url(../img/service-icons/service-seo.png);
}

.icon-service-css-html::before {
  height: 31px;
  background-image: url(../img/service-icons/service-css-html.png);
}

.icon-service-digital::before {
  height: 32px;
  background-image: url(../img/service-icons/service-digital.png);
}

.services-item-title {
  margin-bottom: 15px;
}

.services-item-title-descr {
  margin: 0;
  margin-bottom: 96px;
  padding: 0;
}

/* -----TEAM SECTION STYLE----- */

.team {
  padding-top: 94px;
}

.team-section-description {
  margin: 0;
  margin-bottom: 90px;
  padding: 0 130px;
  text-align: center;
}

.team-content-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.team-content-list-item {
  flex-basis: 382px;
}

.team-picture {
  margin-bottom: 28px;
}

.team-item-name {
  margin-bottom: 10px;
  text-align: center;
}

.team-item-profession {
  margin: 0;
  padding: 0;
  font-style: italic;
  text-align: center;
  text-transform: capitalize;
}
