html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Playfair Display", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: rgb(98, 98, 98);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 900px;
  margin: 0 auto;
}

.section-picture {
  width: 420px;
  height: 280px;
  background-color: rgb(242, 242, 242);
}

/* ----NAVIGATION STYLE---- */

.navigation {
  padding-top: 72px;
  padding-bottom: 100px;
  text-align: center;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.navigation-list-item {
  display: inline-block;
  margin-right: 104px;
}

.navigation-list-item:last-child {
  margin-right: 0;
}

.navigation-list-link {
  display: block;
  font-family: "Playfair Display", sans-serif;
  font-size: 14px;
  color: rgb(98, 98, 98);
  text-transform: uppercase;
  text-decoration: none;
}

.active {
  color: rgb(3, 169, 244);
}

.navigation-list-link:hover,
.navigation-list-link:focus {
  color: rgb(3, 169, 244);
}

/* ----SECTION CARDS STYLE---- */

.cards-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.cards-item {
  display: inline-block;
  width: 420px;
  margin-right: 60px;
  margin-bottom: 130px;
}

.cards-item:nth-child(2n) {
  margin-right: 0;
}

.cards-item:nth-last-child(-n + 2) {
  margin-bottom: 50px;
}

.cards-picture {
  margin-bottom: 30px;
}

.cards-name {
  margin: 0 0 26px 0;
  font-size: 14px;
  font-family: "Ubuntu", sans-serif;
  color: rgb(180, 173, 158);
  line-height: 17px;
  font-weight: 300;
  text-transform: uppercase;
}

.cards-title {
  margin: 0 0 32px 0;
  font-size: 30px;
  font-family: "Playfair Display", sans-serif;
  color: rgb(98, 98, 98);
  line-height: 36px;
}

.cards-descr {
  margin: 0;
  font-size: 14px;
  font-family: "Playfair Display", sans-serif;
  color: rgb(98, 98, 98);
  line-height: 24px;
}

/* ----BUTTON STYLE---- */

.button {
  display: block;
  width: 160px;
  height: 60px;
  margin: 0 auto 70px;
  font-size: 20px;
  font-family: "Playfair Display", sans-serif;
  color: rgb(98, 98, 98);
  background-color: transparent;
  border: 1px solid rgb(98, 98, 98);
}

.button:hover,
.button:focus {
  background-color: rgb(3, 169, 244);
  color: rgb(242, 242, 242);
}
