html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Playfair Display", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: rgb(98, 98, 98);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 900px;
  margin: 0 auto;
}

/* ----NAVIGATION STYLE---- */

.navigation {
  width: 580px;
  margin: 72px auto 100px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-list-item {
  display: inline-block;
  padding: 0;
  margin-right: 104px;
}

.navigation-list-item:last-child {
  margin-right: 0;
}

.navigation-list-link {
  display: block;
  font-family: "Playfair Display", sans-serif;
  font-style: 14px;
  color: rgb(98, 98, 98);
  text-transform: uppercase;
  text-decoration: none;
}

.active {
  color: rgb(3, 169, 244);
}

.navigation-list-link:hover,
.navigation-list-link:focus {
  color: rgb(3, 169, 244);
}

/* ----MAIN STYLE---- */

.lifestyle,
.photodiary {
  margin-bottom: 130px;
}

.lifestyle-list,
.photodiary-list,
.music-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.lifestyle-item,
.photodiary-item,
.music-item {
  display: inline-block;
  width: 420px;
  margin-right: 60px;
}

.lifestyle-item:last-child,
.photodiary-item:last-child,
.music-item:last-child {
  margin-right: 0;
}

.lifestyle-name,
.photodiary-name,
.music-name{
  margin-top: 30px;
  margin-bottom: 26px;
  font-size: 14px;
  font-family: "Ubuntu", sans-serif;
  color: rgb(180, 173, 158);
  line-height: 17px;
  font-weight: 300;
  text-transform: uppercase;
}

.lifestyle-title,
.photodiary-title,
.music-title {
  margin-bottom: 32px;
  font-size: 30px;
  font-family: "Playfair Display", sans-serif;
  color: rgb(98, 98, 98);
  line-height: 36px;
}

.lifesyle-descr,
.photodiary-descr,
.music-descr {
  font-size: 14px;
  font-family: "Playfair Display", sans-serif;
  color: rgb(98, 98, 98);
  line-height: 24px;
}

.music {
  margin-bottom: 50px;
}
