:root {
  --font-all-content: "Montserrat";
  --font-subtitle: "Droid Serif";
  --color-content: rgb(34, 34, 34);
  --color-subcontent: rgb(119, 119, 119);
  --color-style: rgb(254, 209, 54);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--font-all-content), sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--color-content);
  line-height: 17px;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.section-title {
  margin: 0;
  padding: 0;
  font-size: 40px;
  line-height: 75px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.section-subtitle {
  margin: 0;
  margin-bottom: 78px;
  padding: 0;
  font-family: var(--font-subtitle);
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  color: var(--color-subcontent);
  line-height: 20px;
  text-align: center;
}

/* -----HEADER STYLE----- */

.header {
  padding-top: 25px;
  min-height: 100px;
}

.navigattion {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.logo {
}

.logo-link {
  display: block;
  font-family: "Wisdom Script AI";
  color: var(--color-style);
  font-size: 26px;
  line-height: 41px;
  font-weight: 400;
  text-decoration: none;
}

.menu-list {
  display: flex;
  justify-content: space-between;
  flex-basis: 485px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-list-item {
}

.menu-list-link {
  font-family: var(--font-all-content), sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 41px;
  color: var(--color-content);
  text-decoration: none;
  text-transform: uppercase;
  transition: color 200ms linear;
}

.menu-list-link:hover,
.menu-list-link:focus {
  color: var(--color-style);
}

/* -----SERVICES SECTION STYLE----- */

.services {
  padding-top: 94px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

.services-list-item {
  flex-basis: 290px;
  margin-bottom: 120px;
  animation: top-bot 3s linear;
}

@keyframes top-bot {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.services-list-item::before {
  display: inline-block;
  content: "";
  width: 72px;
  height: 71px;
  background-color: rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-position: center center;
  border: 3px solid var(--color-style);
  border-radius: 50%;
  text-align: center;
}

.services-list-item:first-child::before {
  background-image: url("../img/secrvices-icons/icon-basket.png");
}

.services-list-item:nth-child(2)::before {
  background-image: url("../img/secrvices-icons/icon-laptop.png");
}

.services-list-item:last-child::before {
  background-image: url("../img/secrvices-icons/icon-locked.png");
}

.servics-item-title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 75px;
  font-weight: 700;
  text-transform: capitalize;
}

.services-item-descr {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab";
  color: var(--color-subcontent);
}

/* -----CONTACT SECTION STYLE----- */

.contact {
  padding-top: 88px;
  padding-bottom: 88px;
  background-color: var(--color-content);
  background-image: url("../img/contact-map-image.png");
  background-repeat: no-repeat;
  background-position: 100% 90%;
}

.contact-title {
  color: rgb(255, 255, 255);
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  animation: left-right 3s linear;
}

@keyframes left-right {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

.input-box {
  display: flex;
  flex-direction: column;
}

.text-message-box {
  display: flex;
}

.field {
  margin-bottom: 30px;
  width: 455px;
  font-weight: 700;
  color: rgb(187, 187, 187);
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 3px;
}

.contact-form-input {
  height: 50px;
  padding: 20px 0 20px 20px;
}

.contact-form-input::placeholder,
.contact-form-textarea::placeholder {
  color: rgb(187, 187, 187);
  text-transform: uppercase;
}

/* -----VALID FIELD----- */

.required:valid:focus {
  outline: 2px solid rgb(19, 175, 19);
}

/* -----INVALID FIELD----- */

.required:invalid:focus {
  outline: 2px solid rgb(rgb(221, 46, 46));
}

.contact-form-textarea {
  height: 210px;
  padding: 20px 0 0 20px;
  resize: none;
}

.contact-form-button {
  margin: 0 auto;
  width: 240px;
  height: 66px;
  background-color: var(--color-style);
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  transition: color 200ms linear, background-color 200ms linear,
    box-shadow 200ms linear;
}

.contact-form-button:hover,
.contact-form-button:focus {
  color: var(--color-style);
  background-color: teal;
  box-shadow: 0 0 10px 0 teal, 0 0 20px 0 teal, 0 0 30px 0 teal, 0 0 40px 0 teal;
}

/* -----VISUALLY HIDDEN----- */

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
