/* -----MEDIA QUEIRES----- */

@media (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 40px;
  }

  .navigattion {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: baseline;
  }

  .promo-title {
    font-size: 52px;
    padding: 0 80px;
  }

  .promo-descr {
    font-size: 24px;
    margin-bottom: 35px;
  }

  .partners-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .partners-list-item {
    width: 236px;
  }

  /* -----ANIMATION----- */

  .partners-list-item:nth-of-type(1) {
    order: 1;
    animation: left-right 2s linear;
  }
  .partners-list-item:nth-of-type(2) {
    order: 3;
    animation: up-down 2s linear;
  }
  .partners-list-item:nth-of-type(3) {
    order: 2;
    animation: down-up 2s linear;
  }
  .partners-list-item:nth-of-type(4) {
    order: 4;
    animation: right-left 2s linear;
  }

  @keyframes left-right {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(0%);
    }
  }

  @keyframes up-down {
    0% {
      transform: translateY(-100%);
    }

    100% {
      transform: translateY(0%);
    }
  }

  @keyframes down-up {
    0% {
      transform: translateY(100%);
    }

    100% {
      transform: translateY(0%);
    }
  }

  @keyframes right-left {
    0% {
      transform: translateX(100%);
    }

    100% {
      transform: translateX(0%);
    }
  }

  .icon::after {
    right: 58px;
  }

  .partner-list-descr {
    padding: 0 10px;
  }
}

@media (min-width: 940px) {
  .container {
    width: 940px;
    padding: 0 20px;
  }

  .promo-title {
    padding: 0 180px;
  }

  .partners {
    padding: 68px 0 74px;
    text-align: center;
  }

  .partners-title {
    margin-bottom: 36px;
  }

  .partners-list {
    justify-content: space-between;
  }

  .partners-list-item {
    width: 220px;
  }

  .partners-list-item:not(:nth-last-child(-n + 4)) {
    margin-bottom: 30px;
  }

  .icon::after {
    right: 48px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .partners-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 939px) {
  .partners-list-item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}