@font-face {
  font-family: "Droid Serif";
  src: url("../fonts/DroidSerifItalic.woff2") format("woff2"),
    url("../fonts/DroidSerifItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
