/* -----MEDIA QUEIRES----- */


@media (max-width: 575px) {
  .icon::after {
    right: 96px;
  }
}

@media (min-width: 768px) {
  .buttons {
    margin-bottom: 0;
  }
  .promo-title {
    font-size: 52px;
    padding: 116px 80px 0;
  }

  .promo-descr {
    font-size: 24px;
    margin-bottom: 35px;
  }

  /* -----ANIMATION----- */

  .partners-list-item:nth-of-type(1) {
    order: 1;
    animation: left-right 2s linear;
  }
  .partners-list-item:nth-of-type(2) {
    order: 3;
    animation: up-down 2s linear;
  }
  .partners-list-item:nth-of-type(3) {
    order: 2;
    animation: down-up 2s linear;
  }
  .partners-list-item:nth-of-type(4) {
    order: 4;
    animation: right-left 2s linear;
  }

  @keyframes left-right {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(0%);
    }
  }

  @keyframes up-down {
    0% {
      transform: translateY(-100%);
    }

    100% {
      transform: translateY(0%);
    }
  }

  @keyframes down-up {
    0% {
      transform: translateY(100%);
    }

    100% {
      transform: translateY(0%);
    }
  }

  @keyframes right-left {
    0% {
      transform: translateX(100%);
    }

    100% {
      transform: translateX(0%);
    }
  }

  .icon::after {
    right: 110px;
  }

  .partner-list-descr {
    padding: 0 10px;
  }
}

@media (min-width: 940px) {
  
  .partners {
    padding: 68px 0 74px;
    text-align: center;
  }

  .partners-title {
    margin-bottom: 36px;
  }

  .partners-card {
    margin-bottom: 30px;
  }

  .icon::after {
    right: 46px;
  }
}

@media (min-width: 340px) and  (max-width: 575px) {
  .icon::after {
    right: 124px;
  }
}

@media (min-width: 940px) and (max-width: 1199px) {
  .icon::after {
    right: 108px;
  }
}

@media (min-width: 1200px) {
  .icon::after {
    right: 68px;
  }
} 


@media (min-width: 320px) and (max-width: 767px) {
  .partners-card {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 939px) {
  .partners-card {
    margin-bottom: 30px;
  }
}