html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  color: rgb(153, 153, 153);
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.section-pretitle {
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
  font-family: "Kaushan Script", cursive;
  color: rgb(51, 51, 51);
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  text-align: center;
}

.section-title {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: rgb(51, 51, 51);
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.shape::after {
  display: block;
  content: "";
  margin: 40px auto 0;
  width: 60px;
  height: 3px;
  background-color: rgb(243, 129, 129);
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  display: block;
  text-decoration: none;
}

.list-item-title {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  color: rgb(51, 51, 51);
  text-transform: uppercase;
}

/* -----BANNER STYLE----- */

.banner {
  padding-bottom: 230px;
  background-image: -webkit-gradient(
      linear,
      left top, left bottom,
      from(rgba(243, 129, 129, 0.9)),
      to(rgba(252, 227, 138, 0.9))
    ),
    url("../img/banner-image-min.png");
  background-image: -o-linear-gradient(
      top,
      rgba(243, 129, 129, 0.9),
      rgba(252, 227, 138, 0.9)
    ),
    url("../img/banner-image-min.png");
  background-image: linear-gradient(
      180deg,
      rgba(243, 129, 129, 0.9),
      rgba(252, 227, 138, 0.9)
    ),
    url("../img/banner-image-min.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.banner__subtitle {
  margin: 0;
  padding: 0;
  padding-bottom: 36px;
  padding-top: 164px;
  font-size: 72px;
  font-family: "Kaushan Script";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
}

.banner__title {
  margin: 0;
  padding: 0 100px 120px;
  font-size: 150px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 140px;
  color: rgb(255, 255, 255);
  text-align: center;
  text-transform: uppercase;
}

.banner__btn {
  display: block;
  margin: 0 auto;
  width: 164px;
  height: 44px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 1.2;
  color: rgb(255, 255, 255);
  text-align: center;
  background-color: transparent;
  border: 3px solid rgb(255, 255, 255);
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: color 200ms linear, background-color 200ms linear,
    text-shadow 200ms linear, border 200ms linear, -webkit-box-shadow 200ms linear;
  transition: color 200ms linear, background-color 200ms linear,
    text-shadow 200ms linear, border 200ms linear, -webkit-box-shadow 200ms linear;
  -o-transition: color 200ms linear, background-color 200ms linear,
    box-shadow 200ms linear, text-shadow 200ms linear, border 200ms linear;
  transition: color 200ms linear, background-color 200ms linear,
    box-shadow 200ms linear, text-shadow 200ms linear, border 200ms linear;
  transition: color 200ms linear, background-color 200ms linear,
    box-shadow 200ms linear, text-shadow 200ms linear, border 200ms linear, -webkit-box-shadow 200ms linear;
}

.banner__btn:hover,
.banner__btn:focus {
  color: rgb(255, 255, 255);
  text-shadow: 0 0 2px rgb(255, 255, 255);
  background-color: rgb(243, 129, 129);
  border: none;
  -webkit-box-shadow: 0 0 5px rgb(243, 129, 129), 0 0 10px rgb(243, 129, 129),
    0 0 15px rgb(243, 129, 129);
          box-shadow: 0 0 5px rgb(243, 129, 129), 0 0 10px rgb(243, 129, 129),
    0 0 15px rgb(243, 129, 129);
  cursor: pointer;
}

/* -----HEADER STYLE----- */

.page-header {
  padding-top: 25px;
  min-height: 90px;
}

.page-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.site-logo__link {
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.site-navigation__svg {
  width: 18px;
  height: 18px;
  fill: rgb(255, 255, 255);
  -webkit-transition: fill 200ms linear;
  -o-transition: fill 200ms linear;
  transition: fill 200ms linear;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 490px;
      flex-basis: 490px;
}

.site-navigation__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-navigation__link {
  padding-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  border-bottom: 3px solid transparent;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: color 200ms linear;
  -o-transition: color 200ms linear;
  transition: color 200ms linear;
}

.site-navigation__link:hover,
.site-navigation__link:focus {
  color: rgb(252, 227, 138);
  border-bottom: 3px solid rgb(252, 227, 138);
}

.site-navigation__link:hover .site-navigation__svg,
.site-navigation__link:focus .site-navigation__svg {
  fill: rgb(252, 227, 138);
}

/* -----SERVICES SECTION STYLE----- */

.services {
  padding-top: 96px;
}

.services__title {
  margin-bottom: 65px;
}

.services-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.services-content__item {
  position: relative;
  -ms-flex-preferred-size: 382px;
      flex-basis: 382px;
  margin-bottom: 96px;
  padding-left: 90px;
  animation: service-animate 3s ease-in 0.1s reverse both;
}

@-webkit-keyframes service-animate {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }

  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@keyframes service-animate {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }

  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

.services-content__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.services-content__icon::before {
  position: absolute;
  top: 0;
  left: 30px;
  content: "";
  width: 32px;
}

.sevices-content__icon--photography::before {
  height: 31px;
  background-image: url(../img/service-icons/service-photography.svg);
}

.sevices-content__icon--web::before {
  height: 32px;
  background-image: url(../img/service-icons/service-web.svg);
}

.sevices-content__icon--creative::before {
  height: 28px;
  background-image: url(../img/service-icons/service-creative.svg);
}

.sevices-content__icon--seo::before {
  height: 32px;
  background-image: url(../img/service-icons/service-seo.svg);
}

.sevices-content__icon--css-html::before {
  height: 31px;
  background-image: url(../img/service-icons/service-css-html.svg);
}

.sevices-content__icon--digital::before {
  height: 32px;
  background-image: url(../img/service-icons/service-digital.svg);
}

.services-content__title {
  margin-bottom: 15px;
}

.services-content__description {
  margin: 0;
  padding: 0;
}

/* -----TEAM SECTION STYLE----- */

.team {
  padding: 94px 0;
}

.team__title {
  margin-bottom: 42px;
}

.team__description {
  margin: 0;
  margin-bottom: 90px;
  padding: 0 130px;
  text-align: center;
}

.team-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  animation: team-animate 3s ease-in 1s reverse both;
}

@-webkit-keyframes team-animate {
  0% {
    -webkit-transform: scaley(1);
            transform: scaley(1);
  }

  100% {
    -webkit-transform: scaley(0);
            transform: scaley(0);
  }
}

@keyframes team-animate {
  0% {
    -webkit-transform: scaley(1);
            transform: scaley(1);
  }

  100% {
    -webkit-transform: scaley(0);
            transform: scaley(0);
  }
}

.team-content__item {
  position: relative;
  -webkit-transition: -webkit-box-shadow 200ms linear;
  transition: -webkit-box-shadow 200ms linear;
  -o-transition: box-shadow 200ms linear;
  transition: box-shadow 200ms linear;
  transition: box-shadow 200ms linear, -webkit-box-shadow 200ms linear;
}

.team-content__item:hover {
  -webkit-box-shadow: 5px 5px 10px rgba(153, 153, 153, 0.5),
    -5px -5px 10px rgba(153, 153, 153, 0.5),
    -5px 5px 10px rgba(153, 153, 153, 0.5),
    5px -5px 10px rgba(153, 153, 153, 0.5);
          box-shadow: 5px 5px 10px rgba(153, 153, 153, 0.5),
    -5px -5px 10px rgba(153, 153, 153, 0.5),
    -5px 5px 10px rgba(153, 153, 153, 0.5),
    5px -5px 10px rgba(153, 153, 153, 0.5);
  border-radius: 5px;
}

.team-content__item:hover .team-content__hover {
  opacity: 1;
}

.team-content__picture {
  margin-bottom: 28px;
}

.team-content__item:hover .team-content__background {
  opacity: 1;
}

.team-content__name {
  margin-bottom: 10px;
  text-align: center;
}

.team-content__profession {
  margin: 0;
  padding: 0;
  font-style: italic;
  text-align: center;
  text-transform: capitalize;
}

/* -----TEAM CONTENT STYLE----- */

.team-content__hover {
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: 10;
  width: 380px;
  height: 470px;
  opacity: 0;
  -webkit-transition: opacity 200ms linear;
  -o-transition: opacity 200ms linear;
  transition: opacity 200ms linear;
}

.team-content__background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 380px;
  height: 470px;
  background-color: rgb(149, 225, 211);
  opacity: 0;
  -webkit-transition: opacity 200ms linear;
  -o-transition: opacity 200ms linear;
  transition: opacity 200ms linear;
}

.team-content__hover--matthew {
  background-image: -webkit-gradient(
      linear,
      left bottom, left top,
      from(rgba(252, 227, 138, 0.9)),
      to(rgba(243, 129, 129, 0.9))
    ),
    url("../img/team-photo/team-matthew-min.png");
  background-image: -o-linear-gradient(
      bottom,
      rgba(252, 227, 138, 0.9) 0%,
      rgba(243, 129, 129, 0.9) 100%
    ),
    url("../img/team-photo/team-matthew-min.png");
  background-image: linear-gradient(
      0deg,
      rgba(252, 227, 138, 0.9) 0%,
      rgba(243, 129, 129, 0.9) 100%
    ),
    url("../img/team-photo/team-matthew-min.png");
  background-size: cover;
  background-position: center;
}

.team-content__hover--christopher {
  background-image: -webkit-gradient(
      linear,
      left bottom, left top,
      from(rgba(252, 227, 138, 0.9)),
      to(rgba(243, 129, 129, 0.9))
    ),
    url("../img/team-photo/team-christopher-min.png");
  background-image: -o-linear-gradient(
      bottom,
      rgba(252, 227, 138, 0.9) 0%,
      rgba(243, 129, 129, 0.9) 100%
    ),
    url("../img/team-photo/team-christopher-min.png");
  background-image: linear-gradient(
      0deg,
      rgba(252, 227, 138, 0.9) 0%,
      rgba(243, 129, 129, 0.9) 100%
    ),
    url("../img/team-photo/team-christopher-min.png");
  background-size: cover;
  background-position: center;
}

.team-content__hover--michel {
  background-image: -webkit-gradient(
      linear,
      left bottom, left top,
      from(rgba(252, 227, 138, 0.9)),
      to(rgba(243, 129, 129, 0.9))
    ),
    url("../img/team-photo/team-michel-min.png");
  background-image: -o-linear-gradient(
      bottom,
      rgba(252, 227, 138, 0.9) 0%,
      rgba(243, 129, 129, 0.9) 100%
    ),
    url("../img/team-photo/team-michel-min.png");
  background-image: linear-gradient(
      0deg,
      rgba(252, 227, 138, 0.9) 0%,
      rgba(243, 129, 129, 0.9) 100%
    ),
    url("../img/team-photo/team-michel-min.png");
  background-size: cover;
  background-position: center;
}

.team-hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.team-hover__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1px;
}

.team-hover__item:last-child {
  margin-right: 0;
}

.team-hover__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 56px;
  height: 56px;
  background-color: rgb(252, 227, 138);
  border: none;
  -webkit-transition: background-color 200ms linear, fill 200ms linear;
  -o-transition: background-color 200ms linear, fill 200ms linear;
  transition: background-color 200ms linear, fill 200ms linear;
}

.team-hover__link-svg {
  display: block;
  width: 32px;
  height: 32px;
  fill: rgb(243, 129, 129);
  -webkit-transition: fill 200ms linear;
  -o-transition: fill 200ms linear;
  transition: fill 200ms linear;
}

.team-hover__link:hover,
.team-hover__link:focus {
  background-color: rgb(149, 225, 211);
}

.team-hover__link:hover .team-hover__link-svg,
.team-hover__link:focus .team-hover__link-svg {
  fill: rgb(255, 255, 255);
}

/* ------------------------FOOTER STYLE--------------------------- */

.page-footer {
  padding: 12px 0;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  border-top: 1px solid rgb(229, 229, 229);
}

.footer-addres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-addres__copyright {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  color: rgb(51, 51, 51);
  line-height: 17px;
}

.footer-addres__copyright::before {
  content: "\00a9  ";
}

.footer-addres__link {
  margin: 0;
  padding-left: 2px;
  color: rgb(243, 129, 129);
  font-style: normal;
}

.footer-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-input__email{
  padding-left: 12px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 26px;
  color: rgb(51, 51, 51);;
  font-style: italic;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(231, 231, 231);
  width: 234px;
  height: 40px;
}

.footer-input__email::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 26px;
  color: rgb(204, 204, 204);
  font-style: italic;
}

.footer-input__email::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 26px;
  color: rgb(204, 204, 204);
  font-style: italic;
}

.footer-input__email:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 26px;
  color: rgb(204, 204, 204);
  font-style: italic;
}

.footer-input__email::-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 26px;
  color: rgb(204, 204, 204);
  font-style: italic;
}

.footer-input__email::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 26px;
  color: rgb(204, 204, 204);
  font-style: italic;
}

.footer-input__button {
  width: 150px;
  height: 40px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-align: center;
  background-color: rgb(149, 225, 211);
  border: none;
  text-transform: uppercase;
  -webkit-transition: color 200ms linear, background-color 200ms linear,
    text-shadow 200ms linear, -webkit-box-shadow 200ms linear;
  transition: color 200ms linear, background-color 200ms linear,
    text-shadow 200ms linear, -webkit-box-shadow 200ms linear;
  -o-transition: color 200ms linear, background-color 200ms linear,
    box-shadow 200ms linear, text-shadow 200ms linear;
  transition: color 200ms linear, background-color 200ms linear,
    box-shadow 200ms linear, text-shadow 200ms linear;
  transition: color 200ms linear, background-color 200ms linear,
    box-shadow 200ms linear, text-shadow 200ms linear, -webkit-box-shadow 200ms linear;
}

.footer-input__button:hover, 
.footer-input__button:focus {
  color: rgb(255, 255, 255);
  text-shadow: 0 0 2px rgb(255, 255, 255);
  background-color: rgb(243, 129, 129);
  -webkit-box-shadow: 0 0 5px rgb(243, 129, 129), 0 0 10px rgb(243, 129, 129),
    0 0 15px rgb(243, 129, 129);
          box-shadow: 0 0 5px rgb(243, 129, 129), 0 0 10px rgb(243, 129, 129),
    0 0 15px rgb(243, 129, 129);
  cursor: pointer;
}
